/**
 * Rename this file to local.gradle and replace the values in <PLACEHOLDER> with the configuration to connect to the Server.
 */
android {
    buildTypes {
        debug {
            buildConfigField "String", "MERCHANT_ACCOUNT", "\"<YOUR_MERCHANT_ACCOUNT>\""
            buildConfigField "String", "MERCHANT_SERVER_URL", "\"<YOUR_SERVER_URL>\""
            buildConfigField "String", "API_KEY_HEADER_NAME", "\"<API_KEY_HEADER>\""
            buildConfigField "String", "CHECKOUT_API_KEY", "\"<YOUR_API_KEY>\""
            buildConfigField "String", "PUBLIC_KEY", "\"<PUBLIC_KEY>\""
        }
    }
}
