<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adyen.checkout.ui">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:supportsRtl="true">
        <activity
            android:name=".internal.common.activity.CheckoutActivity"
            android:label="@string/checkout_title"
            android:theme="@style/AppTheme.Checkout.Internal.Translucent"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".internal.common.activity.RedirectHandlerActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Checkout.Internal.Translucent"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="${applicationId}"
                    android:scheme="checkout"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".internal.card.CardDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.card.CupSecurePlusOneClickDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.card.CupSecurePlusDetailsActivity"
            android:label="@string/checkout_card_cup_secure_plus_details_activity_title"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.doku.DokuDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.giropay.GiroPayDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.issuer.IssuerDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.qiwiwallet.QiwiWalletPaymentDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.sepadirectdebit.SddDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".internal.openinvoice.OpenInvoiceDetailsActivity"
            android:screenOrientation="@integer/checkout_screenOrientation"
            android:theme="@style/AppTheme.Checkout.Internal"
            android:windowSoftInputMode="adjustResize"/>

    </application>

</manifest>