<!--
  ~ Copyright (c) 2020 Adyen N.V.
  ~
  ~ This file is open source and available under the MIT license. See the LICENSE file for more info.
  ~
  ~ Created by josephj on 4/12/2020.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adyen.checkout.blik" />
