<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:supportsRtl="true">
        <activity
            android:name=".internal.ui.DropInActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AdyenCheckout.Translucent"
            android:enableOnBackInvokedCallback="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


                <data
                    android:host="${applicationId}"
                    android:path=""
                    android:scheme="${checkoutRedirectScheme}"
                    tools:ignore="AppLinkUrlError" />

                <data
                    android:host="${applicationId}"
                    android:path="/"
                    android:scheme="${checkoutRedirectScheme}" />
            </intent-filter>
        </activity>

        <service
            android:name=".SessionDropInService"
            android:exported="false" />
    </application>

</manifest>
