<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adyen.checkout.example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CheckoutExampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name=".ui.configuration.ConfigurationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <activity android:name=".ResultActivity" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.card.CardActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- Use a different intent filter then the one used to handle the Drop-In result
            (if you have both Drop-In and standalone components in your app). If you don't do this
            the user will have to choose which Activity is used to handle the result, which is a
            confusing user experience. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:path="/card"
                    android:scheme="adyencheckout" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>

        <service
            android:name=".service.ExampleDropInService"
            android:exported="false" />
        <service
            android:name=".service.ExampleAsyncDropInService"
            android:exported="false" />
        <service
            android:name=".service.ExampleFullAsyncDropInService"
            android:exported="false" />
        <service
            android:name=".service.ExampleSessionsDropInService"
            android:exported="false" />
    </application>

</manifest>
