<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adyen.checkout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk tools:overrideLibrary="com.adyen.androidpay, com.adyen.smsungpay"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="CheckoutPaymentCardScannerFactory"
            android:value="com.adyen.checkout.MyPaymentCardScannerFactory" />

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PaymentResultActivity" />

        <meta-data
            android:name="debug_mode"
            android:value="Y" />

        <meta-data
            android:name="spay_debug_api_key"
            android:value="4dc23249a9164ca18f999c5963ef22c9" />

    </application>

</manifest>
