<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:host="pay"
                android:scheme="upi" />
        </intent>
    </queries>

</manifest>
