<!--
  ~ Copyright (c) 2019 Adyen N.V.
  ~
  ~ This file is open source and available under the MIT license. See the LICENSE file for more info.
  ~
  ~ Created by arman on 18/2/2019.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.adyen.checkout.card.internal.CardInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
