<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020 Adyen N.V.
  ~
  ~ This file is open source and available under the MIT license. See the LICENSE file for more info.
  ~
  ~ Created by caiof on 17/12/2020.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.adyen.checkout.core.internal.AdyenCheckoutInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
