<!--
  ~ Copyright (c) 2019 Adyen N.V.
  ~
  ~ This file is open source and available under the MIT license. See the LICENSE file for more info.
  ~
  ~ Created by arman on 18/9/2019.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adyen.checkout.bcmc">
</manifest>
