name: Add Label to the Pull Request

on:
  pull_request:
    types:
      - opened
    branches:
      - 'main'
      - 'feature/**'
      - 'chore/**'
      - 'fix/**'
      - 'hotfix/**'

permissions:
  pull-requests: write

jobs:
  get_label:
    if: startsWith(github.event.pull_request.head.ref, 'feature/') || startsWith(github.event.pull_request.head.ref, 'fix/') || startsWith(github.event.pull_request.head.ref, 'chore/')
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.get_label.outputs.label }}

    steps:
      - name: Checkout to current branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Get label
        id: get_label
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
        run: |
          chmod +x scripts/generate_pr_label.sh
          branch_name="$BRANCH_NAME"
          LABEL=$(./scripts/generate_pr_label.sh "$branch_name")
          echo -e "label=$LABEL" >> $GITHUB_OUTPUT
          echo -e $LABEL

  add_label_to_pr:
    needs: get_label
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to current branch
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Add label
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          LABEL: ${{ needs.get_label.outputs.label }}
        with:
          github-token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          script: |
            github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              labels: ['${{ env.LABEL }}']
            })
