name: Assemble

on:
  workflow_call

permissions:
  contents: read

jobs:
  assemble-debug:
    name: Assemble debug
    runs-on:
      group: larger-runners
      labels: ubuntu-latest-8-cores

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          cache-read-only: false

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run assembleDebug
        run: ./gradlew assDeb -Pstrip-resources=true
