name: Build and test

on:
  workflow_call:
    secrets:
      gradle-encryption-key:
        required: true
      github-token:
        required: true
      sonar-token:
        required: true

permissions:
  contents: read

jobs:
  build-and-test:
    name: Analyse, build and test
    runs-on:
      group: larger-runners
      labels: ubuntu-latest-8-cores

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@ed408507eac070d1f99cc633dbcf757c94c7933a # v4
        with:
          cache-read-only: false
          cache-encryption-key: ${{ secrets.gradle-encryption-key }}

      - name: Run static code analysis
        run: ./gradlew detekt ktlint -Pstrip-resources=true

      - name: Assemble debug
        run: ./gradlew assembleDebug -Pstrip-resources=true

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest jacocoDebugTestReport -Pstrip-resources=true

      - name: Check lint
        run: ./gradlew lintDebug

      - name: Upload reports to Sonar
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.github-token }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.sonar-token }}
        run: ./gradlew sonar --no-parallel
