name: Check PR

on:
  pull_request:
    types: [ opened, synchronize, reopened ]
  merge_group:
    types: [checks_requested]

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Build and test
    uses: ./.github/workflows/build_and_test.yml
    secrets:
      gradle-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      github-token: ${{ secrets.GITHUB_TOKEN }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
  validate_public_api:
    name: Validate public API
    uses: ./.github/workflows/validate_public_api.yml
  verify_dependencies:
    name: Validate dependencies
    uses: ./.github/workflows/validate_dependencies.yml
  check_dependency_changes:
    name: Check dependency changes
    uses: ./.github/workflows/check_dependency_changes.yml
