name: Check Main

on:
  push:
    branches:
      - 'main'

permissions:
  contents: read

concurrency:
  group: 'main'
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Build and test
    uses: ./.github/workflows/build_and_test.yml
    secrets: inherit
