name: Check Main

on:
  push:
    branches:
      - 'main'

permissions:
  contents: read

concurrency:
  group: 'main'
  cancel-in-progress: true

jobs:
  assemble:
    name: Assemble
    uses: ./.github/workflows/assemble.yml
  test:
    name: Test
    uses: ./.github/workflows/run_tests.yml
    needs: assemble
  sonar_cloud:
    name: SonarCloud
    uses: ./.github/workflows/sonar_cloud.yml
    needs: test
    secrets: inherit
