name: Create release notes PR

on:
  workflow_call:
    inputs:
      version-name:
        required: true
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  create_release_notes_pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Download release notes artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        env:
          VERSION_NAME: ${{ inputs.version-name }}
        with:
          name: "${{ env.VERSION_NAME }}"

      - name: Create release notes PR
        env:
          BASE_BRANCH: "release-notes"
          VERSION_NAME: ${{ inputs.version-name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPO: ${{ github.repository }}
        run: |
          chmod +x scripts/create_release_notes_pr.sh
          RELEASE_NOTES_FILE_NAME="${VERSION_NAME}.md"
          scripts/create_release_notes_pr.sh $RELEASE_NOTES_FILE_NAME
