name: Create github release

on:
  workflow_call:
    inputs:
      version-name:
        required: true
        type: string

permissions:
  contents: write

jobs:
  create_github_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      # Create a Github release with release notes.
      - name: Create Github release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION_NAME: ${{ inputs.version-name }}
        with:
          token: ${{ env.GITHUB_TOKEN }}
          tag: ${{ env.VERSION_NAME }}
          commit: ${{ github.sha }}
          name: ${{ env.VERSION_NAME }}
          draft: true
