name: Finalize Release

# Every time the workflow is triggered
on:
  workflow_dispatch:
    inputs:
      version-name:
        description: "Version Name"
        required: true
        type: string

permissions:
  contents: write
  deployments: write

jobs:
  update_release_notes:
    name: Update release notes
    uses: ./.github/workflows/update_release_notes.yml
    secrets: inherit
    with:
      version-name: ${{ inputs.version-name }}

  publish_draft_release:
    runs-on: ubuntu-latest
    needs: update_release_notes

    steps:
      - uses: actions/checkout@v4

      # Publish Github release and the tag
      - name: Publish Github release
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION_NAME: ${{ inputs.version-name }}
        with:
          token: ${{ env.GITHUB_TOKEN }}
          tag: ${{ env.VERSION_NAME }}
          commit: ${{ github.sha }}
          allowUpdates: true
          updateOnlyUnreleased: true
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          draft: false

  remove_release_branch:
    runs-on: ubuntu-latest
    needs: publish_draft_release

    steps:
      - uses: actions/checkout@v4

      - name: Remove release branch
        env:
          VERSION_NAME: ${{ inputs.version-name }}
        run: |
          RELEASE_BRANCH_NAME="release/$VERSION_NAME"
          
          if git ls-remote --exit-code --heads origin "$RELEASE_BRANCH_NAME"; then
            git push origin --delete "$RELEASE_BRANCH_NAME"
          else
            echo "Warning: Branch $RELEASE_BRANCH_NAME does not exist."
          fi

  publish_docs_to_github_pages:
    name: Publish docs to Github pages
    uses: ./.github/workflows/publish_docs.yml
    secrets: inherit
    needs: publish_draft_release
