name: Generate version name

on:
  workflow_call:
    outputs:
      version-name:
        description: "The version name of the current release"
        value: ${{ jobs.generate_version_name.outputs.version-name }}

permissions:
  contents: read

jobs:
  generate_version_name:
    runs-on: ubuntu-latest
    outputs:
      version-name: ${{ steps.generate_version_name.outputs.version_name }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Generate version name
        id: generate_version_name
        run: |
          chmod +x scripts/version_name.sh
          VERSION_NAME=$(./scripts/version_name.sh)
          echo "version_name=$VERSION_NAME" >> $GITHUB_OUTPUT
          echo $VERSION_NAME
