name: Get dependency list

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      artifact-name:
        required: true
        type: string

permissions:
  contents: write

jobs:
  get_dependency_list:
    runs-on: ubuntu-latest
    name: Fetch dependency list

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ inputs.ref }}

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Fetch dependency list
        env:
          ARTIFACT_NAME: ${{ inputs.artifact-name }}
        run: |
          DEPENDENCY_LIST_FILE_NAME=$(echo "${ARTIFACT_NAME}")
          ./gradlew aggregateDependencyLists -q -PoutputFileName=$DEPENDENCY_LIST_FILE_NAME

      - name: Upload dependency list artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ inputs.artifact-name }}"
          path: |
            build/outputs/dependency_list/${{ inputs.artifact-name }}
            ${{ inputs.artifact-name }}
          overwrite: true
          if-no-files-found: ignore
