name: Prepare Release

# Every time a push happens to the release/** branch. We use this trigger since create event does not support filtering
on:
  push:
    branches:
      - 'release/**'

permissions:
  contents: write
  pull-requests: write

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml
  generate_version_name:
    name: Generate version name
    uses: ./.github/workflows/generate_version_name.yml
  publish_to_maven_central:
    name: Publish to Maven Central
    uses: ./.github/workflows/publish_to_maven_central.yml
    secrets:
      SONATYPE_CENTRAL_PORTAL_USERNAME: ${{ secrets.SONATYPE_CENTRAL_PORTAL_USERNAME }}
      SONATYPE_CENTRAL_PORTAL_PASSWORD: ${{ secrets.SONATYPE_CENTRAL_PORTAL_PASSWORD }}
      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      SIGNING_SECRET_KEY_RING_FILE: ${{ secrets.SIGNING_SECRET_KEY_RING_FILE }}
      SONATYPE_STAGING_PROFILE_ID: ${{ secrets.SONATYPE_STAGING_PROFILE_ID }}
      GPG_KEY_CONTENTS: ${{ secrets.GPG_KEY_CONTENTS }}
    needs: [generate_version_name, check]
    with:
      version-name: ${{ needs.generate_version_name.outputs.version-name }}
  create_github_release:
    name: Create GitHub release
    uses: ./.github/workflows/create_github_release.yml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    needs: [generate_version_name, publish_to_maven_central]
    with:
      version-name: ${{ needs.generate_version_name.outputs.version-name }}
  generate_release_notes:
    name: Generate release notes
    uses: ./.github/workflows/generate_release_notes.yml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    needs: [generate_version_name, create_github_release]
    with:
      version-name: ${{ needs.generate_version_name.outputs.version-name }}
  create_release_notes_pr:
    name: Create release notes pr
    uses: ./.github/workflows/create_release_notes_pr.yml
    needs: [generate_version_name, generate_release_notes]
    with:
      version-name: ${{ needs.generate_version_name.outputs.version-name }}
