name: Update verification metadata

on:
  push:
    branches:
      - 'renovate/android.gradle.plugin'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-verification-metadata:
    name: Update verification metadata
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.commits[0].message, '[skip update-verification-metadata]') }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@ed408507eac070d1f99cc633dbcf757c94c7933a # v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
          cache-read-only: true

      - name: Gradle update verification metadata
        # We have to run assembleDebug to make sure dynamic dependencies (aapt2) are resolved.
        run: ./gradlew --write-verification-metadata sha256 resolveDependencies assembleDebug

      - name: Commit
        env:
          USER_NAME: ${{ secrets.ADYEN_AUTOMATION_BOT_USER }}
          USER_EMAIL: ${{ secrets.ADYEN_AUTOMATION_BOT_NO_REPLY_EMAIL }}
        run: |
          git config user.name "$USER_NAME"
          git config user.email "$USER_EMAIL"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update verification metadata
          
          [skip update-verification-metadata]"
          git push
